
/* body{
    background-color: #000;
} */

*{
    margin:0;
    padding: 0%;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;   
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
    size: 0cap;
}
 /* ----------------navigation bar starts here-------------- */


.flex_div{
    display:flex;
    align-items : center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0 ,0.2);
    background-color: #fff;
    position: sticky;
    top: auto;
    z-index: 10;
}
.nav_right img{
    width: 25px;
    margin-right: 25px;
}
.nav_right .icon{
    width: 35px;
    margin-right:0;
    border-radius: 50%;
}
.nav_left .left_menu{
    width: 22px;
    margin-right: 25px;
}
.nav_left a img{
    width: 60px;
    margin-right: 5px;
    align-items:baseline;
    border-radius: 5px;
}
.nav_left a{
    display: flex;
    margin-left: 2px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    width: 40px;
}

.nav_middle .mic_icon{
    width: 15px;
}
.nav_middle .search_box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav_middle .search_box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav_middle .search_box img{
    width: 15px;
}


 /* --------------------Sidebar upper part starts here---------------- */



.sidebar{
    background: #fff;
    width: 15%;
       /* background-color: rgb(130, 153, 196); */
    height: 100vh;
    position: fixed;
    top:0;
    padding-left:2%;
    padding-top: 80px;   
}
.shortcuts a img{
    width: 20px;
    margin-right:20px ;
}
.shortcuts a{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcuts a:first-child{
    color: red;
}

/* ----------------horizontal line---------------- */

.sidebar hr{
    border: 0;
    height: 2px;
    background: #ccc;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0 ,0.2);
}

/* ---------------- Sidebar lower part starts here------------- */

.subscribed_list h3{
    font-size: 14px;
    margin:20px 0;
    color: #5a5a5a;
}
.subscribed_list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribed_list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}


/* ----------small side bar and javascript --------------------- */

.smallsidebar{
    width: 5%;
}
.smallsidebar a p{
    display: none;
}
.smallsidebar h3{
    display: none;
}
.smallsidebar hr{
    width: 50%;
    margin-bottom: 25px;
}


/* --------------------main container---------------------- */

.container{
    background:white;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large_container{
    padding-left: 7%;
}

/* ----------------for banner---------------------- */
.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    height: 300px;
    border-radius: 9px ;
}

/* ----------------------for video lists--------------- */

.list_container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-column-gap:16px ;
    grid-row-gap: 30px;
    margin-top: 15px;    
}
.list_vid .thumbnail{
    width: 100%;
    border-radius: 5px;
}

/* -------------for caption and image of channle------------- */
.list_vid .flex_div{
    align-items: flex-start;
    margin-top: 7px;
}
.list_vid .flex_div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid_info{
    color: #5a5a5a;
    font-size: 13px;
}
.vid_info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}




/* -------------------for playing video------------------------- */

/* -----------------next page starts here-------------------------- */

.play_container{
    padding-left: 2%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play_video{
    flex-basis: 69%;
}
.right_side{
    flex-basis: 30%;
}
.play_video video{
    width: 100%;
}
 /* ------------side video info----------- */
.side_vid_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side_vid_list img{
    width: 100%;
}
.side_vid_list .small_thumbnail{
    flex-basis: 49%;
}
.side_vid_list .side_vid_list_info{
    flex-basis: 49%;
}

/* ---------main video info-------------- */
.play_video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.play_video h3{
    font-weight: 600;
    font-size: 22px;
}
.play_video .play_vid_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px; 
    font-size: 14px;
    color: #5a5a5a;   
}
.play_video .play_vid_info a img{
    width: 20px;
    margin-right: 8px;
}
.play_video .play_vid_info a{
    display: inline-flex;/* ---for in one line img and text-----  */
    align-items: center;
    margin-left: 15px;
}

.play_video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

/* ------------PUBLISHER INFO HERE------------- */
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div{
    flex :1;
    line-height: 18px;
}

.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p{
    color: #000;
}

.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background-color: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}
.description{
    padding-left: 55px;
    margin: 15px 0;

}
.description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}

.comment{
    display: flex;
    align-items: center;
    margin: 30px 0;    
}
.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}

.old_comments{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old_comments img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old_comments h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old_comments h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.old_comments .comment_action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old_comments .comment_action img{
    border-radius: 0%;
    width: 20px;
    margin-right: 5px;
}
.old_comments .comment_action span{
    margin-right: 20px;
    color: #5a5a5a;
}
.old_comments .comment_action a{
    color: #0000ff;
}
